<!--
 * @Author: wudinaonao
 * @Date: 2022-06-26 22:51:17
 * @LastEditors: wudinaonao
 * @LastEditTime: 2022-06-27 15:05:12
 * @Description: 
 * 
 * 
 * 
 * 
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <title>Welcome to Odoo - Be a challenger</title>
    <script type="module" crossorigin src="/assets/index.119d4e56.js"></script>
    <link rel="stylesheet" href="/assets/index.8b77025b.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
